* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #2b1f44;
  width: 100%;
  position: relative;
  font-family: sans-serif;
  overflow-x: hidden;
  display: flex;
  height: 2500px;
}
main {
  width: 100%;
  position: relative;
  font-family: sans-serif;
  overflow-x: hidden;
  margin-left: 255px;
}

#content {
  background-color: #1c0f36;
  margin-top: 10px;
  border-radius: 5px 0 0 5px;
}

#header {
  background: url(../assets/img/header_background.webp);
  background-size: cover;
  background-position: 50% 75%;
  object-fit: cover;
  width: 100%;
  height: 275px;
  position: relative;
}

.headline {
  position: relative;
  top: -46px;
  color: #f1d5f7;
    padding: 0 5px;
  backdrop-filter: sepia(70%);
  border-radius: 5px;
}

#navigation {
  position: fixed;
  left: 0;
  height: 100svh;
  display: flex;
  background-color: #1c0f36;
  padding: 50px 0 30px 0;
  border-radius: 0 5px 5px 0;
}

#navigation .menue-btn {
  position: absolute;
  top: 10px;
  right: 7.5px;
  fill: #f1d5f7;
  height: 40px;
  width: 40px;
}

#navigation .menue-btn:hover {
  cursor: pointer;
}
.nav-text-hidden {
  display: none;
  visibility: hidden;

}
.navigation-min {
width: 60px;

}
.mainContent-max {
    margin-left: 70px;
      transition: all .3s linear;
}

#navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  /* padding:30% 0; */
  color: #f1d5f7;
}

#navigation a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #f1d5f7;
  font-size: 1.2rem;
  text-wrap: wrap;
  transition: all 0.2s linear;
}
#navigation a:hover {
  color: #d281e4;
  text-decoration: underline;
}
#navigation a > svg {
width: 35px;
  fill: #f1d5f7;
  height: 3rem;
  margin: 0 10px;
  transition: all 0.2s linear;
}
#navigation a:hover > svg {
  fill: #d281e4;
  filter: drop-shadow(0 0 5px #f1d5f7);
}

#navigation a span {
  padding-right: 10px;
}

.user-dashboard p {
  padding: 10px 0 10px 15px;
  font-size: 0.9rem;
}
.user-dashboard > .login-name {
  text-decoration: underline;
  color: #d281e4;
}

.status-board {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .status-board {
    justify-content: space-evenly;
  }
}

/* ! ~~~ WEATHER APP ~~~ */

#weather-app {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
  width: clamp(320px, 57vw, 40%);
  color: #f1d5f7;
  text-align: center;
  letter-spacing: 1px;
  column-gap: 2%;
  /* pointer-events: none; */
  overflow-x: hidden;
}

.curr-weather-ctn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: fit-content;
}

.place-search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.place-search > svg {
  position: absolute;
  left: -20px;
  width: clamp(0.5rem, 5vw, 1.2rem);
  fill: #f1d5f7;
}

.locationInput {
  display: inline-block;
  font-size: clamp(1rem, 3vw, 1.2rem);
  background: none;
  border: none;
  text-align: center;
  font-weight: bold;
  color: #f1d5f7;
  width: auto;
  min-width: 3ch;
  pointer-events: all;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.forecast-day {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: clamp();
  column-gap: 10%;

  img {
    margin-bottom: -12px;
    width: clamp(30px, 5vw, 40px);
  }
}

.forecast-condition {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 10px;
  height: 60px;
}

.forecast-weekday,
h2 {
  font-size: clamp(0.7rem, 2vw, 1rem);
}
.curr-w-temp,
.forecast-temp {
  font-size: clamp(0.7rem, 2vw, 1rem);
}
.curr-w-icon {
  width: clamp(30px, 10vw, 50px);
  margin: -10px 0 -12px 0;
}

.curr-w-text,
.forecast-text {
  font-size: clamp(0.4rem, 3vw, 0.8rem);
}

/*! ~~~ PROGRESSBARS ~~~ */

#progressBars {
  color: #f1d5f7;
  letter-spacing: 1px;
  margin: 10px;
  font-weight: bold;
  width: clamp(300px, 57vw, 40%);
  font-size: 1rem;
}

#progressBars > section > div > p {
  margin-left: 5px;
}

#progressBars > section > div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

#progressBars > section progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 10px;
  border-radius: 5px;
  width: 90%;
}

#progressBarYear {
  background-color: #f1d5f7;
}
#progressBarYear::-webkit-progress-bar {
  background-color: #f1d5f7;
  border-radius: 10px;
}

#progressBarYear::-webkit-progress-value {
  background-color: #23062c;
}

#progressBarYear::-moz-progress-bar {
  background-color: #23062c;
}

#progressBarMonth {
  background-color: #f1d5f7;
}

#progressBarMonth::-webkit-progress-bar {
  background-color: #f1d5f7;
  border-radius: 10px;
}

#progressBarMonth::-webkit-progress-value {
  background-color: #410b52;
}

#progressBarMonth::-moz-progress-bar {
  background-color: #410b52;
}

#progressBarWeek {
  background-color: #f1d5f7;
}

#progressBarWeek::-webkit-progress-bar {
  background-color: #f1d5f7;
  border-radius: 10px;
}

#progressBarWeek::-webkit-progress-value {
  background-color: #6a1285;
}

#progressBarWeek::-moz-progress-bar {
  background-color: #6a1285;
}

#progressBarDay {
  background-color: #f1d5f7;
}

#progressBarDay::-webkit-progress-bar {
  background-color: #f1d5f7;
  border-radius: 10px;
}

#progressBarDay::-webkit-progress-value {
  background-color: #931ab8;
}
#progressBarDay::-moz-progress-bar {
  background-color: #931ab8;
}
